{
	"sourceType" :"module",
	"presets": ["es2015","react","stage-0"],
	"plugins": [
	  ["transform-runtime", {
		"scriptType": "module",
		"helpers": false,
		"polyfill": true,
		"regenerator": true,
		"moduleName": "babel-runtime",
		"sourceType": "unambiguous"
		}]
	]
}