$base_color: #58a0db;
$admin_color_panel_background: #fff;
$border_color_light: #ddd;
$admin_logo_color: #b01b1b;
$body_color: #000;
$main_color: #274472;
$color_disabled: #f1f1f1;
$accent_color_alt: #627227;
$accent_color: #722727;
$accent_color_hover: #722727;
$color_white: #ffffff;
$color_black: #000000;
$secondary_color: #e2e3e5;
$secondary_text_color: #383d41;
$secondary_border_color: #d6d8db;
$success_color: #d4edda;
$success_text_color: #155724;
$success_border_color: #c3e6cb;
$info_color: #d1ecf1;
$info_border_color: #bee5eb;
$info_text_color: #0c5460;
$warning_color: #fff3cd;
$warning_border_color: #ffeeba;
$warning_text_color: #856404;
$error_color: #f8d7da;
$error_border_color: #f5c6cb;
$error_text_color: #721c24;
$danger_background_color: #721c24;
$danger_text_color: #ffffff;
$save_button_color: #22721c;
$save_button_color_text: #fff;
$primary_button_color: #1c3472;
$primary_button_color_text: #fff;
$secondary_button_color: #6c757d;
$secondary_button_color_text: #fff;
$edit_button_color: #f8f9fa;
$edit_button_color_text: #000;
$delete_button_color: #721c24;
$delete_button_color_text: #fff;
$danger_button_color: #721c24;
$danger_button_color_text: #fff;

:root {
	--sce-admin--color-notice--info: #e3f3f7;
	--sce-admin--color-notice--info-alt: #3a8dc4;
	--sce-admin--color-notice--success: #eaf5ea;
	--sce-admin--color-notice--success-alt: #49a939;
	--sce-admin--color-notice--warning: #fef6e1;
	--sce-admin--color-notice--warning-alt: #e8a931;
	--sce-admin--color-notice--error: #f5e5e4;
	--sce-admin--color-notice--error-alt: #bc2b2c;
}

@keyframes sce-rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* Admin buttons and logo */
.sce-logo-wrap {
	display: grid;
	grid-template-columns: 70fr 30fr;

	&:has(.updated) {
		grid-template-areas:
			"logo doclinks"
			"updated updated";
		h1 {
			grid-area: logo;
		}
		.updated {
			order: 3;
			grid-area: updated;
			margin-top: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	/* Media query for mobile */
	@media (max-width: 650px) {
		grid-template-columns: 1fr;

		h1 {
			width: 100%;
			padding: 0 20px;
		}
	}
}
.sce-docs-wrap {
	justify-self: end;
	@media (max-width: 650px) {
		width: 100%;
	}
	a {
		padding: 10px 20px;
		border-radius: 5px;
		background: $primary_button_color;
		color: #fff;
		cursor: pointer;
		border: 1px solid #e0e4e9;
		transition: background-color 0.5s ease;
		text-decoration: none;
		display: block;
		font-size: 14px;
		margin-bottom: 8px;
		max-width: 250px;
		text-align: center;

		@media (max-width: 650px) {
			width: 100%;
			max-width: 100%;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background: lighten($primary_button_color, 10%);
		}
	}
}


/* Button Options */
.sce-button {
	padding: 10px 20px;
	border-radius: 5px;
	background: $accent_color;
	color: #fff;
	cursor: pointer;
	border: 1px solid #e0e4e9;
	transition: background-color 0.5s ease;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	&:hover {
		color: #fff !important;
		background: lighten( $accent_color, 10% );
	}
	&.sce-button-info {
		background: $secondary_button_color;
		color: $secondary_button_color_text;
		&:hover {
			background: lighten( $secondary_button_color, 10% );
		}
	}
	&.sce-button-danger {
		background: $danger_button_color;
		color: $danger_button_color_text;
		&:hover {
			background: lighten( $danger_button_color, 10% );
		}
	}
	&.sce-button-edit {
		background: $edit_button_color;
		color: $edit_button_color_text;
		&:hover {
			background: lighten( $edit_button_color, 10% );
		}
	}
	&.sce-button-delete {
		background: $delete_button_color;
		color: $delete_button_color_text;
		&:hover {
			background: lighten( $delete_button_color, 10% );
		}
	}
	&.sce-button-lg {
		padding: 20px 30px;
		font-size: 2em;
	}
	&.sce-button-save {
		background: $save_button_color;
		color: $save_button_color_text;
		&:hover {
			color: #fff;
			background: lighten( $save_button_color, 10% );
		}
	}
	.sce-icon-button {
		text-align: middle;
		display: inline-block;
		width: 16px;
		height: 16px;
	}
	svg {
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}
	.sce-icon-yellow {
		color: #f52a39;
	}
}

h3.sce-panel-heading {
	color: $secondary_button_color;
	font-size: 1.8em;
	font-weight: 700;
	padding-bottom: 2px;
	margin: 0;
	padding-bottom: 0.7em;
	line-height: 1.3;
}
.sce-admin-panel-area {
	position: relative;
	background-color: #FFF;
	border: 1px solid #DDD;
	box-shadow: 1px 1px 7px 2px rgba(221,221,221,0.6);
	padding: 20px;
	margin-top: 25px;
}
.sce-panel-row {
	margin-bottom: 15px;
	&:last-of-type {
		margin-bottom: 0;
	}
}


.sce-admin-logo {
	
	img {
		width: 100%;
		max-width: 650px;
		display: inline-block;
		
	}
}

#sce-options-logo {
	max-width: 250px;
	display: inline-block;
	width: 100%;
	height: auto;
}

/* Toggle Control Component Styles - Styles from the Block Editor (roughly) */
.sce-admin__toggle-control {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}
}
.sce-admin__toggle-control.components-toggle-control {
	.components-base-control__field {
		position: relative;
		display: flex;
		margin-bottom: 12px;
		line-height: initial;
		align-items: center;

		.components-toggle-control__label {
			font-size: 14px;
			font-weight: 600;
		}
		.components-form-toggle {
			margin-right: 12px;

			input.components-form-toggle__input[type='checkbox'] {
				position: absolute;
				border: 1px solid #8c8f94;
				border-radius: 4px;
				background: #fff;
				color: #50575e;
				clear: none;
				cursor: pointer;
				display: inline-block;
				line-height: 0;
				outline: 0;
				text-align: center;
				vertical-align: middle;
				width: 1rem;
				min-width: 1rem;
				-webkit-appearance: none;
				box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
				transition: 0.05s border-color ease-in-out;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				margin: 0;
				padding: 0;
				z-index: 1;
				border: none;

				&:before {
					content: '';
					display: inline-block;
					vertical-align: middle;
					width: 1rem;
					speak: never;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					margin: -0.1875rem 0 0 -0.25rem;
					height: 1.3125rem;
					width: 1.3125rem;
				}

				&:checked {
					background: none;
				}
			}

			.components-form-toggle__track {
				content: '';
				display: inline-block;
				box-sizing: border-box;
				vertical-align: top;
				background-color: #fff;
				border: 1px solid #1e1e1e;
				width: 36px;
				height: 18px;
				border-radius: 9px;
				transition: 0.2s background ease;
			}

			.components-form-toggle__thumb {
				display: block;
				position: absolute;
				box-sizing: border-box;
				top: 3px;
				left: 3px;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				transition: 0.1s transform ease;
				background-color: #393838;
				border: 5px solid #393838;
			}

			&.is-checked {
				.components-form-toggle__track {
					background-color: #017e01;
					border: 1px solid #393838;
					border: 9px solid transparent;
				}
				.components-form-toggle__thumb {
					background-color: #FFF;
					border-width: 0;
					transform: translateX(18px);
				}
			}
		}
	}
}

.sce-admin__range-control {
	max-width: 450px;
	
	.components-base-control__label {
		font-size: 14px;
		font-weight: 600;
	}
	.components-range-control__track {
		color: #017e01;

		& ~ span {
			background-color: #017e01;
		}
	}
}

/* Admin Buttons */
.sce-admin-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		background: #FFF;
		color: #017e01;
		border-style: solid;
		border-color: #017e01;
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 5px;

		&:hover {
			border-radius: 5px;
			background: #e9ece6;
			color: #005200;
			border-color: #006400;
		}

		&.has-error {
			border: 1px solid #bc2b2c;
			&:hover {
				cursor: not-allowed;
			}
		}

		&.qdlx__btn-danger {
			background: #FFF;
			color: #822700;
			border-color: #822700;

			&:hover {
				background: #ece6e6;
				color: #822700;
				border-color: #822700;
			}
		}

		&.qdlx__btn--icon-right {
			&.is-saving {
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					animation: sce-rotate 1s linear infinite;
					path {
						fill: #017e01;
					}
				}
			}
			&.is-saved {
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					margin-left: 14px;
					path {
						fill: #017e01;
					}
				}
			}
			&.is-resetting {
				display: flex;
				justify-content: space-between;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					animation: sce-rotate 1s linear infinite;
					path {
						fill: #822700;
					}
				}
			}
		}
	}
}

/* Text fields */
.sce-panel-row {
	p.components-base-control__help,
	p.components-form-token-field__help {
		font-size: 13px;
		font-style: italic;
	}

	// Text control styles.
	.components-base-control,
	.components-form-token-field,
	.sce-admin__button-group--align {
		margin-bottom: 25px;

		&.has-error {
			margin-bottom: 5px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		label {
			font-weight: 700;
		}
		input[type='text'] {
			position: relative;
			display: block;
			min-width: 200px;
			max-width: 100%;
			width: 25em;
			line-height: 2;
			font-size: 13px;
		}

		.components-radio-control__option {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			input[type='radio'] {
				margin: 0;
				margin-right: 5px;
			}

			label {
				font-weight: 400;
			}
		}
	}
	label.components-base-control__label {
		position: relative;
	}
	.is-required label:after {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		content: "*";
		top: -3px;
		right: -12px;
		color: #b53b07;
		font-size: 1.4em;
		line-height: 1.3;
	}
}

/* Admin panel notices */
/* Error Notices */
.sce-admin__notice {
	margin: 10px 0;
	&.sce-admin__notice--has-icon {
		.components-notice__content {
			display: grid;
			grid-template-columns: 32px 1fr 1px;
			align-items: center;
		}

		&.sce-admin__notice-appearance--inline .components-notice__content {
			display: flex;

			.sce-admin__notice-icon {
				margin-right: 8px;
			}
		}
	}
	.sce-admin__notice-message {
		color: #393838;
		font-size: 1.1em;
		line-height: 1.2;
		font-weight: 500;
	}
	&.sce-admin__notice-appearance--block .components-notice {
		border-left: 4px solid transparent;
		padding: 15px 20px;
		padding-left: 15px;
		margin-bottom: 15px;
	}
	&.sce-admin__notice-appearance--inline .components-notice {
		padding-left: 0;
	}

	svg {
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;
	}

	&.sce-admin__notice-type--error:not(.sce-admin__notice-appearance--inline) {
		background-color: var(--sce-admin--color-notice--error);
		.components-notice {
			border-left-color: var(--sce-admin--color-notice--error-alt);
		}
		svg path {
			fill: var(--sce-admin--color-notice--error-alt);
		}
	}
	&.sce-admin__notice-type--error.sce-admin__notice-appearance--inline {
		.sce-admin__notice-message {
			color: var(--sce-admin--color-notice--error-alt);
		}
		.sce-admin__notice-message {
			font-size: 0.9em;
		}

		svg {
			width: 16px;
			height: 16px;
			path {
				fill: var(--sce-admin--color-notice--error-alt);
			}
		}
	}
	&.sce-admin__notice-type--success {
		background-color: var(--sce-admin--color-notice--success);
		.components-notice {
			border-left-color: var(--sce-admin--color-notice--success-alt);
		}
		svg path {
			fill: var(--sce-admin--color-notice--success-alt);
		}
	}
	&.sce-admin__notice-type--info {
		background-color: var(--sce-admin--color-notice--info);
		.components-notice {
			border-left-color: var(--sce-admin--color-notice--info-alt);
		}
		svg path {
			fill: var(--sce-admin--color-notice--info-alt);
		}
	}
	&.sce-admin__notice-type--warning {
		background-color: var(--sce-admin--color-notice--warning);
		.components-notice {
			border-left-color: var(--sce-admin--color-notice--warning-alt);
		}
		svg path {
			fill: var(--sce-admin--color-notice--warning-alt);
		}
	}
}